!!!5
%html{class:"no-js", lang:"es"}
%head
 %meta{charset:"utf-8"}
 %title La mejor comida
 %meta{name:"description", content:"come rico en el mejor restaurante"}
 %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
 %link{rel:"stylesheet", href:"css/normalize.css"}
 %link{rel:"stylesheet", href:"css/style.css"}
 %script{src:"js/modernizr-custom.js"}
%body
 .video-container
   %video
    %source{src:"restaurant/mp4/bbq.mp4", typ:"video/mp4"} 
    



 